body {
    display: flex;
    flex-flow: column nowrap;
}

section {
    margin-top: 4.75rem;
}

section.social-media {
    margin-top: auto;
    margin-bottom: 2.5rem;
}

.social-media .icons a {
    height: 1.75rem;
    width: 1.75rem;
    margin: 0.5rem 0.5rem 0;
}