html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    background-color: #F8F9FA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0
}

.navbar-brand .brand-wrap {
    margin-left: -4px;
}

.brand-wrap img {
    height: 44px;
}

.brand-wrap span {
    margin-top: 4px;
    margin-left: 4px;
}

.navbar-toggler {
    padding: .25rem .35rem;
}

main {
    margin-top: 60px;
    height: calc(100% - 60px);
    position: relative;
    overflow-x: hidden;
}

footer {
    background-color: #212529;
    color: #F8F9FA;
    padding: 3rem 0;
}