{% extends "site_base.html" %}


{% load static %}


{% block extra_custom_css %}
<link rel="stylesheet" href="{% static 'landing/css/parked.css' %}">
{% endblock %}


{% block navbar_collapse %}
<div class="collapse navbar-collapse" id="topAppBar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span
                  class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block body %}
<div id="home" class="hero d-flex">
    <div class="container d-flex justify-content-center align-items-center">
        <h1><span><i class="text-transparent">.</i>This is Fashion.</span></h1>
    </div>
</div>

<div class="quotes d-flex justify-content-center align-items-center">
    <h2>DANIEL<br>CURTIS</h2>
</div>

<section id="about" class="text-center">
    <div class="container">
        <h2>About Us</h2>
        <p>Daniel Curtis is a luxury fashion brand that places emphasis on the
            contemporary
            fit and thoughtful functionality of their design.</p>
        <p>At Daniel Curtis, we value timeless vibrance and kinetic energy,
            and this is
            reflected in the luxe aesthetic of our high fashion products.</p>
    </div>
</section>

<section id="contact">
    <h2 class="text-center">Contact Us</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
            <div>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</section>
{% endblock %}


{% block extra_custom_js %}
<script type="text/javascript" src="{% static 'landing/js/parked.js' %}"></script>
{% endblock %}