{% extends "site_base.html" %}


{% load static %}
{% load crispy_forms_tags %}


{% block extra_custom_css %}
<link rel="stylesheet" href="{% static 'landing/css/parked.css' %}">
{% endblock %}


{% block navbar_collapse %}
<div class="collapse navbar-collapse" id="topAppBar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span
                  class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block body %}
<div id="home" class="hero d-flex">
    <div class="container d-flex justify-content-center align-items-center">
        <h1>A fashion label that values timeless, vibrant and kinetic energy.</h1>
    </div>
</div>

<div class="quotes d-flex justify-content-center align-items-center">
    <h2>DANIEL<br>CURTIS</h2>
</div>

<section id="about" class="text-center">
    <div class="container">
        <h2>About Us</h2>
        <p>Daniel Curtis is a luxury fashion brand that places emphasis on the
            contemporary
            fit and thoughtful functionality of their design.</p>
        <p>At Daniel Curtis, we value timeless vibrance and kinetic energy,
            and this is
            reflected in the luxe aesthetic of our high fashion products.</p>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h2 class="text-center">Contact Us</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
                <div class="text-center mt-4">
                    <input class="btn btn-primary px-5" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>

<section class="social-media">
    <div class="container">
        <h5 class="text-center text-muted">Follow us on social media</h5>
        <div class="icons d-flex justify-content-center">
            <a href="https://www.instagram.com/danielcurtisfashion/">
                <img class="img-fluid" src="{% static 'icons/icon--instagram.png' %}"
                  alt="instagram's icon">
            </a>
            <a href="https://web.facebook.com/Danielcurtisfashion">
                <img class="img-fluid" src="{% static 'icons/icon--facebook.png' %}"
                  alt="facebook's icon">
            </a>
            <a href="#">
                <img class="img-fluid" src="{% static 'icons/icon--whatsapp.png' %}"
                  alt="whatsapp's icon">
            </a>
        </div>
    </div>
</section>
{% endblock %}


{% block extra_custom_js %}
<script type="text/javascript" src="{% static 'landing/js/parked.js' %}"></script>
{% endblock %}