{% extends "site_base.html" %}

{% load static %}

{% block extra_custom_css %}
<link rel="stylesheet" href="{% static 'landing/css/submit-success.css' %}">
{% endblock %}

{% block navbar %}
<a class="navbar-brand" href="{% url 'root' %}">
    <span class="brand-wrap d-flex align-items-center">
        <img src="{% static 'img/brand.png' %}" alt="Daniel Curtis logo">
        <span>Daniel Curtis</span>
    </span>
</a>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="alert alert-success text-center my-4">
            Thank you prospective customer,<br>Your feedback has been submitted
            successfully.
        </div>
    </div>
</section>
{% endblock %}