{% extends "site_base.html" %}

{% load static %}

{% block extra_custom_css %}
<link rel="stylesheet" href="{% static 'landing/css/submit-success.css' %}">
{% endblock %}

{% block navbar %}
<a class="navbar-brand" href="{% url 'root' %}">
    <span class="brand-wrap d-flex align-items-center">
        <img src="{% static 'img/brand.png' %}" alt="Daniel Curtis logo">
        <span>Daniel Curtis</span>
    </span>
</a>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="alert alert-success text-center my-4">
            Thank you prospective customer,<br>Your feedback has been submitted
            successfully.
        </div>
    </div>
</section>
<section class="social-media">
    <div class="container">
        <h6 class="text-center text-muted">Please follow us on social media</h6>
        <div class="icons d-flex justify-content-center">
            <a href="https://www.instagram.com/danielcurtisfashion/">
                <img class="img-fluid" src="{% static 'icons/icon--instagram.png' %}"
                  alt="instagram's icon">
            </a>
            <a href="https://web.facebook.com/Danielcurtisfashion">
                <img class="img-fluid" src="{% static 'icons/icon--facebook.png' %}"
                  alt="facebook's icon">
            </a>
            <a href="#">
                <img class="img-fluid" src="{% static 'icons/icon--whatsapp.png' %}"
                  alt="whatsapp's icon">
            </a>
        </div>
    </div>
</section>
{% endblock %}